//
// --------------------------------------------------
////////////////////////////////////////////////////////////////////////
// Typography //////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
// --------------------------------------------------
//
// Typography para Headers (Display)


// Text
// --------------------------------------------------
$text-color = $gray-darker


// Links
// --------------------------------------------------
$link-color 		= $green//$blue
$link-hover-color 	= $green-dark//$blue-dark


// Typography
// --------------------------------------------------
$font-family-header	= 'Oswald', sans-serif //[h1-h6]
$font-family-text 	= 'Yanone+Kaffeesatz', sans-serif //Texto general
$font-family-code	= 'Ubuntu Mono', monospace //Para el codigo <code>


// FONT-SIZE
$font-size    = 21px
$font-size-lg = ceil($font-size * 1.15) //24px
$font-size-sm = ceil($font-size * 0.8) //17px
$font-size-xs = floor($font-size * 0.7) //15px


// LINE-HEIGHT
$line-height-xl =			1.6//1.8
$line-height-lg =			1.5//1.8
$line-height =				1.4//1.5
$line-height-sm =			1.3//1.4
$line-height-xs =			1.2//1.2
$line-height-computed =		floor($font-size * $line-height) // 24px


// VALUE-COMPUTED
$headings-font-family =		$font-family-header
$headings-font-weight =		normal
$headings-line-height =		1


// PADDING
$padding-lg-vertical =		10px
$padding-vertical =			8px
$padding-sm-vertical =		6px
$padding-xs-vertical =		4px

$padding-lg-horizontal =	16px
$padding-horizontal =		12px
$padding-sm-horizontal =	8px
$padding-xs-horizontal =	5px


$border-radius-lg =			6px
$border-radius =			5px
$border-radius-sm =			4px
$border-radius-xs =			2px


